collapsible {
  display: block;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  /* background-image: linear-gradient( to top, rgba(0,0,0,0.1), transparent ); */

  & + & {
    border-top: none;
  }

  collapsible-title {
    display: block;
    cursor: pointer;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;

    icon {
      content: '';
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 0 6px 10px;
      border-color: transparent;
      border-left-color: #666;
      margin-right: 5px;
    }

    &:hover {
      color: white;

      icon {
        border-left-color: white;
      }
    }
  }

  collapsible-content {
    display: block;
    height: 0;
    overflow: hidden;
  }

  &.is-open {
    background-image: linear-gradient( to top, rgba(0,0,0,0.15), rgba(0,0,0,0.2) );

    collapsible-title {
      color: white;

      icon {
        border-width: 10px 6px 0 6px;
        border-left-color: transparent;
        border-top-color: white;
      }
    }

    collapsible-content {
      height: auto;
      padding: 0 10px 15px;
    }
  }
}
